<!doctype html>
<html>
<head><title>Timetables</title>
	<script src="../static/jquery.min.js"></script>
	<script src="../static/hello.js"></script>
</head>
	<body><div align="center">
		<ul class="level-1">
			<li class="item-1">List item 1</li>
			<li class="item-2">List item 2</li>
		<ul class="level-2">
			<li class="item-a">List item A</li>
			<li class="item-b">List item B</li>
		<ul class="level-3">
			<li class="item-i">List item I</li>
			<li class="item-ii">List item II</li>
			<li class="item-iii">List item III</li>
		</ul>
	</ul>
</ul>
		<table id="Schedule" border="2">
			<h1>Timetables</h1>
			<caption>Schedule</caption>
			<tr class="t1">
				<td></td>
				<td>9:00</td>
				<td>10:00</td>
				<td>11:00</td>
				<td>12:00</td>
				<td>13:00</td>
				<td>14:00</td>
				<td>15:00</td>
				<td>16:00</td>
				</tr>
			<tr>
				<td>Mon</td>
				<td colspan="2">INFO07105 ISO</td>
				<td class="t2" colspan="2">IMD07103 HCI</td>
				<td></td>
				<td></td>
				<td></td>
				<td>SET0701250 SD</td>
			</tr>
			<tr>
				<td>Tue</td>
				<td></td>
				<td colspan="2">SET0701250 SD</td>
				<td></td>
				<td></td>
				<td class="t2" colspan="2">IMD07103 HCI</td>
				<td></td>
			</tr>
			<tr>
				<td>Wed</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Thu</td>
				<td></td>
				<td colspan="2">INFO07105 ISO</td>
				<td class="t2">INFO07105 ISO</td>
				<td></td>
				<td colspan="2">IMD07103 HCI</td>
				<td></td>
			</tr>
			<tr>
				<td>Fri</td>
				<td></td>
				<td></td>
				<td></td>
				<td>SET0701250 SD</td>
				<td>SET0701250 SD</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
		<br>
		<table id='key'>
			<caption>Key</caption>
			<tr><th>HCI</th><td>Human Computer Interaction</td></tr>
			<tr><th>ISO</th><td>Information Systems in Organisations</td></tr>
			<tr><th>SD</th><td>Software Development</td></tr>
		</table>
</div>
		</body>
</html>